* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.register {
  min-width: 30%;
  height: 100vh;
  z-index: 1;
  top: 0;
  right: 0;
  position: fixed;
  padding: 50px;
  background-color: white;
}

.title-register {
  padding: 50px 0;
}
.title-register h1 {
  font-size: 3rem;
  color: #15AA73;
  padding-bottom: 10px;
}
.title-register p {
  color: #ADADAD;
  font-weight: 500;
  font-size: 1.2rem;
}

.register form {
  width: 100%;
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.register form > input {
  width: 100%;
  height: 4rem;
  border: none;
  background-color: #f0f0f0;
  border-radius: 12px;
  padding-left: 20px;
  font-size: 1.2rem;
  outline: none;
}
.register form > input::placeholder {
  font-weight: 600;
  color: #ADADAD;
}

/* botao do form */
.register form:nth-child(2) {
  align-items: end;
}

.register form > button {
  background-color: #15AA73;
  padding: 15px 40px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 10px;
  border: 3px solid transparent;
  transition: .5s ease-in-out;
}
.register form > button:hover {
  background-color: transparent;
  border: 3px solid #15AA73;
  color: #15AA73;
  border-radius: 40px;
}
